.clear-both {clear: both}
.container-fluid > .row > .col-sm-12, .container-fluid > .row > .col-md-12  {
    padding: 0;
}
.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.padding-t-10 {
    padding-top: 10px !important;
}

.padding-b-10 {
    padding-bottom: 10px !important;
}

.padding-t-15 {
    padding-top: 15px !important;
}

.margin-r-10 {
    margin-right: 10px !important;
}

.margin-l-10 {
    margin-left: 10px !important;
}

.margin-b-10 {
    margin-bottom: 10px !important;
}

.margin-b-15 {
    margin-bottom: 15px !important;
}

.margin-t-10 {
    margin-top: 10px !important;
}

.vertical-middle {
    vertical-align: middle !important;
}

.sk-cube-grid {
    width: 60px;
    height: 60px;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #de4a4a;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.ajax-loading-icon {
    top: 35%;
    left: 47%;
    position: absolute;
}

.warp-loading-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
}

.warp-loading-all {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
}

.warp-bg {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.7;
}

.wrap-suggestion {
    background: #fff;
    width: 35%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.wrap-suggestion .item-suggestion {
    border-bottom: 1px solid #ddd;
    display: block;
    overflow: hidden;
    padding: 10px;
}

.wrap-suggestion .item-suggestion:last-child,
.wrap-suggestion .item-suggestion.ui-state-focus:last-child {
    border-bottom: none;
}

.wrap-suggestion .item-suggestion.ui-state-focus {
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #f0f0f0;
    color: #333;
    font-weight: normal;
    margin: 0;
}

.wrap-cart-modal .modal-content {
    border-radius: 0;
}

.wrap-cart-modal .close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ed1c24;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    opacity: 1;
    z-index: 1;
}

.wrap-cart-modal .text-modal {
    margin-bottom: 5px;
}

.wrap-cart-modal .product-name-modal {
    font-size: 17px;
    padding-right: 20px;
    font-weight: normal;
}

.wrap-cart-modal .price-sale-modal {
    display: inline;
    text-decoration: line-through;
    opacity: .5;
    font-size: 13px;
}

.button-modal .btn {
    border-radius: 0;
}

.button-modal .continue-shopping {
    background: #ed1c24;
}

.related-modal-cart {
    height: 70px;
}

.item-reldated {
    width: 50px;
    height: 70px;
}

.image-cart-modal {
    border: 1px solid #ddd;
    padding: 1px;
}

.image-cart-modal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-reldated img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    padding: 1px;
}

.slider-related {
    padding: 0 30px;
}

.slider-related .owl-controls .owl-buttons div.owl-prev {
    left: 0px;
    width: 25px;
    height: 70px;
    text-align: center;
    opacity: 1;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.slider-related .owl-controls .owl-buttons div.owl-next {
    right: 0px;
    width: 25px;
    height: 70px;
    text-align: center;
    opacity: 1;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.slider-related.owl-theme .owl-controls .owl-buttons div.owl-prev:before {
    content: '\eaa5';
    font-size: 20px;
    line-height: 70px;
    display: block;
}

.slider-related.owl-theme .owl-buttons div.owl-next:before {
    content: '\eaa6';
    font-size: 20px;
    line-height: 70px;
    display: block;
}

.item-suggestion .warp-img-suggestion {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    float: left;
    text-align: center;
    border: 1px solid #ddd;
    padding: 1px;
    background: #fff;
}

.item-suggestion img.img-suggestion {
    height: 100%;
    width: auto;
}

.item-suggestion .name-suggestion {
    font-size: 15px;
    margin-bottom: 5px;
}

.name-suggestion .mark {
    padding: 0;
    text-decoration: underline;
    background: none;
    font-weight: normal;
}

.item-suggestion .price-suggestion {
    margin-bottom: 0;
}

.item-suggestion .price-well {
    margin-right: 10px;
    color: #ed1c24;
    font-size: 16px;
    font-weight: bold;
}

.item-suggestion .price-sale {
    text-decoration: line-through;
    opacity: .7;
    color: #333;
    display: inline;
}




.xzoom-preview {
    background: #fff !important;
    border: 0 !important;
}

.xzoom-lens-nh .xzoom-lens {
    border: none !important;
    max-height: 100%;
    max-width: 100%;
}


.advanced-product .ui-state-hover,
.advanced-product .ui-state-active {
    background: #383838;
    cursor: pointer;
}
.a-row label {
    display: inline;
    color: #888;
    font-weight: 400;
}

.a-row .selection {
    font-weight: 700;
}

.product-available .item-available:hover {
    background: #f3f3f3;
}

.product-available .item-available .num-quantity {
    padding: 0 5px;
    line-height: 25px;
}

.product-available .item-available .price-well {
    font-size: 14px;
    color: #333;
    text-shadow: 0 2px 0 #e9e9e9;
}

.product-available .item-available .price-before {
    font-size: 12px;
    height: 17px;
}

.description-product-detail {
    padding: 0;
}

.item-available .img {
    width: 36px;
    text-align: center;
}

.item-available .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-available {
    border-radius: 0;
    padding: 0;
    margin: 0 0 5px 0;
    border: none;
    background: none;
}


.zoomWindowContainer .zoomWindow {
    border: 0 !important;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, .3);
}
#register-modal .form-group {
    height: 40px;
    clear: inherit;
}

#frm-profile .form-group {
    position: relative;
    min-height: 45px;
}

#frm-profile .form-group > div {
    position: relative;
    height: 40px;
}

.modal .modal-header {
    padding: 10px;
}

.modal-header .modal-title {
    font-size: 25px;
}

.form-group .icon-required {
    position: absolute;
    top: 4px;
    right: 15px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #a94442;
}

.account-user .dropdown-menu {
    border-radius: 0;
}

#order-list .btn-primary {
    background-color: #428bca !important;
    border-color: #428bca;
    color: #fff;
}

#order-list .btn-pink {
    background-color: #d6487e !important;
    border-color: #d6487e;
    color: #fff;
}

#order-list .btn-grey {
    background-color: #a0a0a0 !important;
    border-color: #a0a0a0;
    color: #fff;
}

.captcha-input {
    font-size: 13px;
}

.btn-reload-captcha {
    color: #383838;
    line-height: 35px;
    font-size: 18px;
}

.nh-video-item .more-blogs {
    margin: 5px 0;
    color: #383838;
}

.nh-video-item .title-video-item {
    font-size: 20px;
    color: #383838;
    margin: 5px 0;
}



.result-validate {
    position: relative;
    clear: both;
    font-size: 12px;
}

.has-error .result-validate .form-control-feedback {
    top: -40px;
}

.has-success .result-validate .form-control-feedback {
    top: -35px;
}

.file-input .file-caption {
    height: 38px;
}

.file-input .file-actions,
.file-input .file-upload-indicator {
    display: none;
}

.wrap-avatar-member > img {
    width: 25px;
    height: 25px;
    margin-top: -5px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .nav_desktop {
        margin-left: 0px;
    }
}

/*fix giao dien*/
.item-download {
    height: 190px;
    overflow: hidden;
}

.item-download .media .media-body p {
    height: 40px;
    overflow: hidden;
}

.list-download .media-heading {
    line-height: 17px;

}

.lg-outer .lg-thumb-item {
    border-radius: 0;
}

#main_img {
    text-align: center;
    height: 100%;
    border: 1px solid #dedede;
}

#main_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*nhathh custom*/
.media-body h4.media-title-video {
    margin-top: 0px;
    margin-bottom: 5px;
}

.checkbox .level-2 {
    padding-left: 20px;
}

.checkbox .level-3 {
    padding-left: 40px;
}

.checkbox .level-4 {
    padding-left: 60px;
}

.file-download .file-name {
    max-height: 35px;
    line-height: 17px;
    overflow: hidden;
}

.position-relative {
    position: relative;
}

.col-sm-1 > .item-download .description-list-file,
.col-sm-3 > .item-download .description-list-file,
.col-sm-4 > .item-download .description-list-file,
.col-sm-1 > .item-download .file-name,
.col-sm-3 > .item-download .file-name,
.col-sm-4 > .item-download .file-name,
.col-sm-1 > .item-download .btn-download span,
.col-sm-3 > .item-download .btn-download span,
.col-sm-4 > .item-download .btn-download span {
    display: none;
}

.col-sm-1 > .item-download .file-download i,
.col-sm-3 > .item-download .file-download i,
.col-sm-4 > .item-download .file-download i,
.col-sm-1 > .item-download .btn-download i,
.col-sm-3 > .item-download .btn-download i,
.col-sm-4 > .item-download .btn-download i {
    font-size: 20px !important;
}



.box-right-download .media {
    margin: 0 0 20px 0;
}

.short_intro p {
    font-size: 15px;
    font-weight: bold;
}

ul.slider-news li {
    list-style: none;
}

.welcome .box_content {
    margin-top: 50px;
}

.tabs-block .tab-content {
    min-height: 100px;
}

ul.main_menu_mega > li > ul {
    position: static;
}

.select2-container .select2-choice .select2-arrow b {
    background: url(../images/select2.png) no-repeat 4px 7px !important;
}

.contacts-list {
    margin: 20px 0;
}

.contact-address-wrap {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.contact-address {
    padding: 5px 15px;
    cursor: pointer;
}

.address-active {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px #ccc;
}

#add_another_contact {
    margin-top: 15px;
    font-weight: bold;
    display: block;
    cursor: pointer;
    font-size: 14px;
}

.new-contact {
    margin-right: -15px;
    margin-left: -15px;
}

.price-detail-page {
    border: none;
}

.price-detail-page .dvt {
    font-size: 19px;
    color: #ffc045;
}

.description-product-detail ul,
.description-product-detail li {
    list-style: none;
}

.top-detail-product {
    margin-top: 0;
    position: relative;
}

.top-detail-product .code-product {
    margin-bottom: 5px;
    padding: 0px;
}

.price-detail-page .price-before {
    text-shadow: none;
    font-size: 14px;
}

.tag-discount {
    background: #ffc045;
    color: #fff;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
    position: relative;
}

.tag-discount:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 14px solid #ffc045;
    position: absolute;
    top: 0;
    left: -14px;
}
.version {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.title-ver {
    margin: 0;
    position: relative;
    line-height: 35px;
}

.btn-ver {
    padding: 2px 5px 0px 3px;
    border-radius: 0px;
}

.thub-image .owl-theme .owl-controls .owl-buttons div.owl-prev,
.thub-image .owl-theme .owl-controls .owl-buttons div.owl-next {
    top: 15px;
}

.thub-image .owl-theme .owl-controls .owl-buttons div {
    font-size: 25px;
}
#search-type {
    padding: 0;
    border: none;
}

#search-type .dropdown-toggle {
    font-size: 14px;
    color: #444;
    padding: 0 20px;
}


.out-of-stock {
    color: #ec353c;
    font-size: 20px;
}

.item-product .img {
    background-size: cover !important;
}

.img-blogs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-80 img {
    width: 80px;
    height: 110px;
    object-fit: contain;
}

.nhslider .item_block {
    margin-bottom: 45px;
}

.banner-img.col-1 > div {
    padding-right: 0px;
    padding-left: 0px;
}

.box-product-style2 .nav_title li a.pdropcap:first-letter {
    font-size: 16px;
    color: #383838;
    font-weight: normal;
    text-transform: lowercase;
    display: block;
    padding: 8px 20px !important;
    position: relative;
}

.style-view-1 .img {
    min-height: 155px;
}

.modal-content {
    border-radius: 0;
}

.bg-cart .nav-tabs a {
    text-transform: uppercase;
    font-size: 16px;
}

.list-shipping-address .address-option {
    cursor: pointer;
    position: relative;
    z-index: 99;
    ox-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-boz-sizing: border-box;
    position: relative;
    display: block;
    padding: 15px 15px 15px 30px;
    background: #fff;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.list-shipping-address .address-option:hover {
    border: 1px solid #9ca643;
}

.list-shipping-address .address-option.active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .09);
    border: 1px solid #9ca643;
}

.address-option p {
    margin-bottom: 0;
}

.address-option p b {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 1.3;
}

.title-cart {
    text-transform: uppercase;
    border-bottom: 1px solid #DDD;
    color: #414141 !important;
}

.box-cart-left > .card {
    background: none;
    box-shadow: none;
    border: 1px solid #ddd;
}

.box-cart-left>.card>.nav-tabs > li > a::after {
    content: '';
}

.btn-main{
    border-radius: 0;
}
.icon-list-address{
    display: inline-block;
    width: 20px;
}

.list-products-order{
    max-height: 370px;
}

.box-cart-right-cont .delete-order{
    right: 0px;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #666666;
}

.shoppingcart-box .list{
    max-height: 400px;
}


#payment-method, div#order-info, #success-order {
    background: #f2f2f2;
}

#payment-method .container, div#order-info .container, #success-order .container { 
    max-width: 1170px;
}
div#order-info .banner-overlay, #payment-method .banner-overlay, #success-order .banner-overlay {
    margin: 0 !important;
}
.nav-step {
    margin:  auto;
    margin-bottom: 50px;
    background: #fff;
    max-width: 1140px;
}
.nav-step .container {
    max-width: 1170px;
}
.box-step {
    padding: 10px 0;
}
.box-step ul {
    list-style: none;
    margin: 0;
    height: auto;
    position: relative;
    padding: 0;
    display: block;
}
.box-step a {
    display: block;
    position: relative;
    line-height: 38px;
}
.box-step ul li span.num-of-step {
    height: 38px;
    width: 38px;
    line-height: 33px;
    font-size: 20px;
    border: 2px solid;
    display: block;
    margin-right: 15px;
    float: left;
    border-radius: 100%;
    border-color: #ef2b2b;
    color: #ef2b2b;
    font-weight: 400;
}
.box-step ul li.active span.num-of-step {
    color: #fff;
    background-color: #ef2b2b;
}
.box-step ul li span {
    top: 0px;
    color: #ef2b2b;
    float: left;
    text-transform: uppercase;
    font-weight: 500;
}

.box-cart-left > .card, .box-cart-left .address {
    background: none;
    box-shadow: none;
    border: none;
    margin-bottom: 30px;
    background: #fff;
    position: relative;
    padding-bottom: 15px;
}
.box-cart-left > .card .nav-tabs {
    border: none;
}
.card ul.nav.nav-tabs li {
    width: 50%;
    text-align: center;
    margin: 0;
}
.box-cart-left > .card > .nav-tabs > li > a {
    border: none;
    color: #333;
    background: #ccc;
    margin: 0;
    padding: 14px 10px;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.box-cart-left > .card > .nav-tabs > li.active > a {
    border-width: 0;
    border: none;
    color: #ef2b2b !important;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.box-cart-left > .card > .nav-tabs > li > a:hover {
    border: none;
    color: #ef2b2b !important;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.box-cart-left .box-cont, .box-cart-left>.card>.tab-content {
    padding: 40px 30px;
}
.box-cart-left>.card>.tab-content .form-group {
    margin-bottom: 20px;
}
.box-cart-left > .card .form-control, .box-cart-left > .card .chosen-container-single .chosen-single {
    height: 41px;
    font-size: 16px;
    border-color: #ddd;
}
#btn-process-payment {
    margin-left: 5px;
}
.bt {
    font-size: 14px;
    border: none;
    min-width: 50px;
    line-height: 35px;
    padding: 0 10px;
    border-radius: 3px;
    height: 42px;
}
.btn-google, .btn-facebook {
    border-radius: 3px !important;
    height: 40px;
    line-height: 29px;
}

.box-cart-right {
    background: #fff;
    padding: 0 15px;
}

.box-cart-right .title_style4 h3 {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
}

.title_style4 h3 {
    font-size: 16px;
    color: #383838;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 0 0 10px;
    padding: 16px 0px;
    position: relative;
}
.list-products-order .price-well {
    float: left;
    line-height: 24px;
    margin-right: 10px;
    font-weight: bold;
    padding:  0 !important;
}
p.price-before {
    text-decoration: line-through;
    color: #888888;
    margin: 0 14px 0 0;
    font-size: 1.2857em;
    float: left;
}
.box-cart-right-cont .media-body .media-heading {
    padding-top: 0;
    /* padding-right: 30px; */
    clear: both;
    height: auto;
    line-height: 24px;
}
.quantity label {
    font-weight: 400;
}
.box-cart-right-cont .input-cart {
    text-align: center;
    border: none !important;
    height: 20px;
    font-weight: bold;
    position:  relative;
}
#order-info .box-cart-left .title_style4 h3, #payment-method .box-cart-left .title_style4 h3 {
    padding: 30px 30px 0;
    border: none !important;
}

#list-method {
    width: 335px;
}
#list-method .nav-tabs {
    border: none;
    position: relative;
    margin-left: -1px;
}
#list-method ul.nav.nav-tabs li {
    width: 100%;
    margin-bottom: 20px;
}
.nav-tabs-bank > .nav-tabs > li > a {
    border-radius: 0 !important;
    text-align: center;
    margin: 0;
    display: block;
    padding: 20px 8px;
    padding-bottom: 49px !important;
    border: 1px solid #ddd;
}
.nav-tabs-bank > .nav-tabs > li > a > img {
    width: auto;
    height: 30px;
    float: left;
    display: inline-block;
}
.nav-tabs-bank > .nav-tabs > li > a > input {
    position: absolute;
    opacity: 0;
}
.nav-tabs-bank .nav-tabs > li > a > span {
    display: block;
    border: 0;
    border-radius: 0;
    color: #555;
    margin-bottom: 15px;
    overflow: hidden;
    height: 40px;
    text-align: left;
    line-height: 30px;
    float: right;
    width: calc(100% - 50px);
    font-weight: 500;
}

.choose-bank {
    padding: 0;
    width: calc(100% - 350px);
}
.success-box {
    background: #fff;
    padding: 50px 30px;
    text-align: center;
    margin-bottom: 20px;
}
.success-box i {
    color: #ef2b2b;
    font-size: 40px;
}
.success-box .title-success-order {
    color: #ef2b2b;
    font-size: 24px;
    margin: 15px 0 35px;
}
.success-box p.title-order-code {
    font-size: 14px;
    font-weight: bold;
}
.success-box a {
    color: #337ab7;
    margin: 0 5px;
}
.box-step3 {
    padding: 30px;
    margin-bottom: 50px;
    background: #fff;
}
#success-order .title_style3 h3 {
    font-size: 14px;
    border: none;
    padding: 0;
    text-transform: unset;
}
#success-order .title_style3 {
    border-bottom: 1px solid #f2f2f2;
}
#success-order .title_style3 h3 {
    font-size: 14px;
    border: none;
    padding: 0;
    text-transform: unset;
    margin-bottom: 20px;
}

.nav-tabs-bank > .nav-tabs > li > a:hover, .nav-tabs-bank .nav li.active a {
    background: none;
    border: 1px solid #ffba00;
}


.box-cart-left > .card .button-cart {
    margin: 0;
    width: 100%;
    clear: both;
}
#success-order .table>tbody>tr>* {
    border: none;
    padding-left: 0;
}
.box-cart-left .txt-upper {
    float: inherit;
}

.advanced-filter .list-cut .keyword-filter {
    height: 35px;
}

@media (max-width: 991px)  {
    #list-method {
        width: 100%;
    }
    .choose-bank {
        margin-left: 12px;
        width: calc(100% - 26px);
    }
}

@media (max-width: 767px)  {
    h2, h1 {
        font-size: 24px !important;
    }
    .furnihaus-section .section-content-container, .p-pb, .furnihaus-section {
        padding: 0 !important;
    }
    li.step1, li.step2 {
        margin-bottom: 15px;
    }
}

@media (max-width: 560px)  {
    .card ul.nav.nav-tabs li {
        width: 100%;
    }
    #order-info .box-cart-left .title_style4 h3, #payment-method .box-cart-left .title_style4 h3 {
        padding: 20px 15px 0;
    }
    .checkout-address, #list-method, .box-step3 {
        padding: 15px;
    }
    .config-payment {
        margin: 0 -15px;
        padding: 0 15px;
    }
    .box-cart-left .box-cont, .box-cart-left>.card>.tab-content {
        padding: 30px 15px;
    }
}




@media only screen and (max-width: 500px) {
    .gritter-center{
        left: 10% !important;
        right: 10% !important;
    }
    .box-search .form-inline input.form-control {
        position: relative;
        right: 10px;
    }
}
.display-theme-1{
    display: block;
}
.display-theme-2{
    display: none;
}
.mightyslider_modern_skin .mSPages {
    z-index: 10 !important;   
}

.NH-navGrid img {
    width: 100%;
}    

.NH-contactUs, .box-contacts {
    width: 100%;
    padding: 0 15px;
    max-width: 1024px;
    margin:  auto;
}

@media (max-width: 767px) {
      #footer .menu-ft h4.title-menu-ft:after {
          content: "\f107";
          font: normal normal normal 14px/1 FontAwesome;
          float:  right;
          position:  absolute;
          right: 0;
      }
      #footer .menu-ft .list-menu-fy {
        display: none;
      }
      .menu-ft {
        margin-bottom: 15px !important;
      }
  
    .slider-product .price.price-inline {
        min-height: 60px;
    }
    .title-product {
        overflow: hidden;
    }
    .menu-footer-vertical.box-ft {
        padding: 0;
        line-height: 24px;
    }
}

@media (hover:none)  {
    .item-product .img .action-product {
        display: none;
    }
    .NH-logoFooter {
        text-align: center;
        float: none;
    }
    .menu-footer-vertical.box-ft {
        line-height: 24px;
    }
    #footer .menu-top {
        text-align: center;
        margin: 0;
    }
    #footer .pull-right {
        float: none !important;
    }
    
    .menu-footer-vertical, .menu-footer-vertical>.list-fan-page {
        padding: 0;
        margin: 0;
    }
    .menu-footer-vertical>.list-fan-page {
        float: none;
        text-align: center;
    }
    .menu-footer-vertical>.list-fan-page>li {
        float: none;
        display: inline-block;
    }
    .NH-coppyright {
        float: none;
        text-align: center;
        line-height: 1;
    }
}

@media (max-width: 787px)  {
    .item-product .img .action-product, .item-product .img:hover:before {
        display: none;
    }
    .NH-col-3 {
        clear:both;
    }

    div#footer .menu-top li a {
        line-height: 24px;
    }
    .list-item.view-list .more-blogs {
        display: none;
    }
    .list-item.view-list .item-blogs {
        margin: 0;
    }
    .item-product .info {
        margin: 5px;
    }
}
.shoppingcart-box .item-cart {
    padding: 5px 10px 10px;
}

@media (min-width: 992px) {
  .col-md-6:nth-child(2n + 1), .col-md-4:nth-child(3n + 1), .col-md-3:nth-child(4n + 1), .col-md-2:nth-child(6n + 1) {
    clear: both;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .col-sm-6:nth-child(2n + 1), .col-sm-4:nth-child(3n + 1), .col-sm-3:nth-child(4n + 1), .col-sm-2:nth-child(6n + 1) {
    clear: both;
  }  
  
    div#footer .menu-top li a {
        line-height: 24px;
    }
}
@media (max-width: 767px) {
  .col-xs-6:nth-child(2n + 1), .col-xs-4:nth-child(3n + 1), .col-xs-3:nth-child(4n + 1), .col-xs-2:nth-child(6n + 1) {
    clear: both;
  }  
}

