body {
    background-image: url("public/images/Letterhead-Layer-2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 100%;
}
#home {
    background-image: url("public/images/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#card {
    box-shadow: 5px 3px 5px #ccc;
    border-radius: 15px;
    width: 200px;
    margin-bottom: 20px;
}

#imgcard {
    border-radius: 15px;
    max-width: 200px;
    margin-bottom: 20px;
}

#imgslider {
    border-radius: 1em;
}

.button-slider {
    width: 100%;
    border-radius: 1em;
}

/* order-detail trên */

.bg-cart .nav-tabs a {
    text-transform: uppercase;
    font-size: 16px;
}

#payment-method,
div#order-info,
#success-order {
    background: #f2f2f2;
}

.nav-step {
    margin: auto;
    margin-bottom: 50px;
    background: #fff;
    max-width: 1140px;
}

.box-step {
    padding: 10px 0;
}

.box-step ul {
    list-style: none;
    margin: 0;
    height: auto;
    position: relative;
    padding: 0;
    display: block;
}

.box-step a {
    display: block;
    position: relative;
    line-height: 38px;
}

.box-step ul li span.num-of-step {
    height: 38px;
    width: 38px;
    line-height: 33px;
    font-size: 20px;
    border: 2px solid;
    display: block;
    margin-right: 15px;
    float: left;
    border-radius: 100%;
    border-color: #ef2b2b;
    color: #ef2b2b;
    font-weight: 400;
}

.box-step ul li.active span.num-of-step {
    color: #fff;
    background-color: #ef2b2b;
}

.box-step ul li span {
    top: 0px;
    color: #ef2b2b;
    float: left;
    text-transform: uppercase;
    font-weight: 500;
}

.box-cart-left>.card,
.box-cart-left .address {
    background: none;
    box-shadow: none;
    border: none;
    margin-bottom: 30px;
    background: #fff;
    position: relative;
    padding-bottom: 15px;
}

.box-cart-left>.card .nav-tabs {
    border: none;
}



/* order-detail dưới */
.card ul.nav.nav-tabs li {
    width: 50%;
    text-align: center;
    margin: 0;
}

.box-cart-left>.card>.nav-tabs>li.active>a {
    border-width: 0;
    border: none;
    color: #ef2b2b !important;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.box-cart-left .box-cont,
.box-cart-left>.card>.tab-content {
    padding: 40px 30px;
}

.box-cart-left>.card>.tab-content .form-group {
    margin-bottom: 20px;
}

.title_style4 h3 {
    font-size: 16px;
    color: #383838;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 0 0 10px;
    padding: 16px 0px;
    position: relative;
}

#list-method ul.nav.nav-tabs li {
    width: 100%;
    margin-bottom: 20px;
}

.nav-tabs-bank>.nav-tabs>li>a {
    border-radius: 0 !important;
    text-align: center;
    margin: 0;
    display: block;
    padding: 20px 8px;
    padding-bottom: 49px !important;
    border: 1px solid #ddd;
}

.nav-tabs-bank>.nav-tabs>li>a>img {
    width: auto;
    height: 30px;
    /* float: left; */
    display: inline-block;
}

.nav-tabs-bank>.nav-tabs>li>a>input {
    position: absolute;
    opacity: 0;
}

.nav-tabs-bank .nav-tabs>li>a>span {
    display: block;
    border: 0;
    border-radius: 0;
    color: #555;
    margin-bottom: 15px;
    overflow: hidden;
    height: 40px;
    text-align: left;
    line-height: 30px;
    float: right;
    width: calc(100% - 50px);
    font-weight: 500;
}

.box-cart-left>.card .button-cart {
    margin: 0;
    width: 100%;
    clear: both;
}



.box-cart-left>.card>.tab-content {
    padding: 20px
}

.box-cart-left>.card {
    background: #f8f8f8 none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.scrollbar {
    float: left;
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
}

#style-3::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
    width: 6px;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #1e1e1e;
    /* -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); */
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.68;
    color: #888;
}

a {
    color: #333;
}

a,
span,
i {
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}

ul {
    list-style: none;
}

.headerSection-1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    color: #333;
    font-weight: bold;
    line-height: 1.42857;
}


/* contact */
.footer-container .news-letter .wrap-news-letter {
    border-top: 1px solid #e6e9ec;
    padding: 40px 0
}
.footer-container .news-letter .wrap-news-letter .block-subscribe-footer form .newsletter-content .input-box input {
    padding-right: 115px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    padding-left: 30px;
    height: 44px;
    font-size: 100%;
    border: 1px solid #e5e5e5;
    line-height: 1.66;
    background-color: #fff;
    margin-bottom: 0
}
.footer-container .news-letter .wrap-news-letter .block-subscribe-footer form .newsletter-content .action-button {
    position: absolute;
    top: 0;
    right: 0
}
.footer-container .news-letter .wrap-news-letter .block-subscribe-footer form .newsletter-content .action-button button {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    background-color: #ff3c58;
    width: auto;
    margin: 0;
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    padding: 0 20px;
    color: #fff
}
.footer-container .news-letter .wrap-news-letter .follow-us {
    text-align: right
}
.footer-container .news-letter .wrap-news-letter .follow-us .title-social {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: #222;
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500
}
.footer-container .news-letter .wrap-news-letter .follow-us .social {
    display: inline-block;
    vertical-align: middle
}

