
  .menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 100px;
  }
  
  .menu li {
    display: block;
    height: 100%;
    margin-right: 30px;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 15px #8e54e9;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  /* Style 1: color change and scale by 120% */
  .menu li:hover {
    color: #111;
    transform: scale(1.2);
    text-shadow: none;
  }