.swatch .header {
    min-width: 100px
}

.swatch input {
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0
}

.swatch label {
    min-width: 40px !important;
    height: 40px !important;
    background-color: #fff;
    font-size: 15px !important;
    line-height: 40px;
    white-space: nowrap
}

.color.swatch-element label {
    padding: 0
}

.swatch input:checked+label {
    background: #fff;
    border-color: var(--mainColor) !important
}

.swatch input:checked~.product-variation__tick {
    display: block
}

.swatch .color input:checked+label {
    background: initial;
    border-color: initial;
    color: #000
}

.swatch .color input:checked+label {
    position: relative;
    border-color: var(--mainColor) !important
}

.swatch .color input:checked+label:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.swatch .swatch-element {
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased
}

.swatch .swatch-element.color .nau-do {
    background-color: #da2800
}

.swatch .swatch-element.color .nau-nhat {
    background-color: #d5924f
}

.swatch .swatch-element.color .xanh {
    background-color: #0098ff
}

.swatch .swatch-element.color .xanh-la {
    background-color: #20bf00
}

.swatch .swatch-element.color .vang {
    background-color: #e8db00
}

.swatch .swatch-element.color .hong {
    background-color: #ff00d3
}

.swatch .swatch-element.color .do {
    background-color: #e80000
}

.swatch .swatch-element.color .xam {
    background-color: #b8b8b8
}

.swatch .swatch-element.color .nau {
    background-color: #c67b00
}

.swatch .swatch-element.color .vang-trang {
    background-color: #dde22e- #c4c7c5
}

.swatch .swatch-element.soldout label {
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6
}

.swatch.error code {
    font-family: monospace
}

.swatch-element.soldout:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(//bizweb.dktcdn.net/100/350/547/themes/812519/assets/cancel.png?1638813614069);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 0;
    top: 0
}

label[for] {
    cursor: pointer
}

.product-variation__tick {
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    right: 0;
    bottom: 0;
    display: none;
    pointer-events: none
}

.product-variation__tick::before {
    border: 1rem solid transparent;
    border-bottom-color: transparent;
    border-bottom-color: var(--mainColor);
    content: '';
    position: absolute;
    right: -1rem;
    bottom: 0
}

.product-variation__tick>.icon-tick-bold {
    position: absolute;
    right: 2px;
    bottom: 1px;
    fill: #fff;
    font-size: 0.5rem;
    display: inline-block;
    width: 1em;
    height: 1em
}